body {
  background-color: #eeeeee;
}

.container {
  width: 1200px;
  background-color: white;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 16px;
}

.explore-container {
  width: 1138px;
  height: 680px;
  position: relative;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.sub-title {
  font-size: 24px;
  color: #555;
}

hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

blockquote {
  font-size: 16px;
}

div.dc-chart {
  float: none;
}

svg {
  font: 12px sans-serif;
}

.chart-title {
  font: 14px sans-serif;
}

.step-nav {
  width: 100%;
}

.stepper {
  position: relative;
  width: 1138px;
  height: 480px;
  background-color: #fff;
  margin-top: 10px;
}

.annotation-container {
  position: absolute;
  width: 300px;
  height: 100%;
  background-color: #fff;
}

.annotation {
  position: absolute;
  display: none;
  left: 0;
  top: 10px;
  width: 280px;
  font-size: 12px;
}

.annotation > h2 {
  margin-top: 10px;
  font-size: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #bbb;
}

.footnote {
  font-size: 12px;
  font-style: italic;
}

#step3-footnote {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 300px;
}

.chart-container {
  position: absolute;
  width: 800px;
  height: 460px;
  top: 20px;
  left: 320px;
  z-index: 60;
}

.loading {
  background: #eee;
  font-size: 36px;
  position: absolute;
  text-align: center;
  padding-top: 160px;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
}

.img-overlay {
  background: rgba(250, 250, 250, 0.5);
  font-size: 36px;
  position: absolute;
  text-align: center;
  padding-top: 160px;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
}

.img-overlay > a {
  color: #555;
}

.img-overlay > a:hover {
  color: black;
  text-decoration: none;
}

#map {
  position: absolute;
  height: 450px;
  width: 800px;
  top: 0;
  left: 0;
}

#chart-ts {
  position: absolute;
  left: 0;
}

#chart-exceed {
  position: absolute;
  top: 0;
  left: 520px;
}

#chart-precip {
  position: absolute;
}

#chart-weather {
  position: absolute;
  left: 520px;
}

#chart-month {
  position: absolute;
}

#chart-year {
  position: absolute;
}

#chart-year .x.axis text {
  text-anchor: end !important;
  transform: translate(-12px, 7px)rotate(-90deg);
}

#slider-weather-container {
  position: absolute;
  width: 340px;
  height: 50px;
}

#slider-weather {
  width: 335px;
  margin-bottom: 10px;
}

#toolbar-btn {
  position: absolute;
}


.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
  font: 14px sans-serif;
  z-index: 200;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}
